<p style="color: green"><%= notice %></p>

<div class="container mb-5 d-flex flex-wrap justify-content-around d-grid gap-3 bg-dark text-white">

  <div class="container my-3 d-grid gap-3 d-flex flex-wrap flex-direction-row justify-content-center align-items-stretch aligh-content-start">

    <% @blogs.each do |blog| %>

      <div class="card mx-3 my-3 text-dark" style="width: 14rem; height: 20rem;">

        <div class="card justify-content-center mx-3 my-3 border border-3" style="width: 12rem;">
          
          <% if blog.title.include? "RAILS" %>
            <%= image_tag("RAILS.svg.png") %>
          <% end %>

          <% if blog.title.include? "JS" %>
            <%= image_tag("JS.svg.png") %>
          <% end %>

          <% if blog.title.include? "HTML5" %>
            <%= image_tag("HTML5.svg.png") %>
          <% end %>

          <% if blog.title.include? "CSS3" %>
            <%= image_tag("CSS3.svg.png") %>
          <% end %>

          <% if blog.title.include? "GIT" %>
            <%= image_tag("GIT.svg.png") %>
          <% end %>

          <% if blog.title.include? "ASCIIDOCS" %>
            <%= image_tag("ASCIIDOCS.svg.png") %>
          <% end %>

          <% if blog.title.include? "RUBY" %>
            <%= image_tag("RUBY.svg.png") %>
          <% end %>

          <% if blog.title.include? "XML" %>
            <%= image_tag("XML.svg.png") %>
          <% end %>

        </div>

        <div class="mb-auto p-2">
          <h5 class="card-title"><%= blog.title %></h5>
        </div>
        
        <div class="d-flex flex-row-reverse">
          <div class="p-2">
            <div class"button_blog"><%= link_to "Show", blog %></div>
          </div>
        </div>
        
      </div>

    <%end%>
  </div>

</div>