
<link href="https://vjs.zencdn.net/7.20.2/video-js.css" rel="stylesheet" />
<p style="color: green"><%= notice %></p>

<div class="card text-center my-3">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @blog.title %></h5>
    <p class="card-text"><%= @blog.content %></p>
   
    <p> <small>Author: KKS</small></p>
    <p><small>Created: <%= time_ago_in_words(@blog.created_at) %> ago<small></p>

    <button class="btn btn-primary btn-sm"><%= link_to 'Back', blogs_path, class:"nav-link"%></button>
  </div>
  <div class="card-footer text-muted">
    <p><small>Updated: <%= time_ago_in_words(@blog.updated_at) %> ago</small></p>
        <% if user_signed_in? %> 
        <%= link_to "Edit", edit_blog_path(@blog) %>
        <%= button_to "Delete", blog_path(@blog), method: :delete, data: { confirm: "Are you sure you want to delete?"} %>
    <% end %>
  </div>
</div>
<script src="https://vjs.zencdn.net/7.20.2/video.min.js"></script>